@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	background-color: #d8e1f0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

